<%- include('partials/header.ejs'); -%>
<div class="box" id="heading">
  <h1><%= list.name %></h1>
</div>
<a href="/" class="back">&larr;</a>

<div class="box">
  <% for(let item of list.items) { %>
  <form action="/delete/<%= list._id %>" method="POST" class="del-item">
    <div class="item">
      <input
        type="checkbox"
        name="itemName"
        value="<%= item%>"
        onChange="this.form.submit()"
      />
      <p><%= item %></p>
    </div>
  </form>
  <% } %>
  <form class="item" action="/addItem/<%= list._id %>" method="post">
    <input
      type="text"
      name="newItem"
      placeholder="New Item"
      autocomplete="off"
      required
    />
    <button type="submit" name="list" value="">+</button>
  </form>
</div>
